.idea
.DS_Store
_tmp/
.env
!tests/Support/envs/**/.env
!tests/Foundation/Fixtures/envs/.env
.phpunit.result.cache
/.cache
/.fleet
/.idea
/.phpunit.cache
/.vscode
/.zed
/_tmp
/docs/node_modules/
/docs/.vuepress/dist/
/docs/.vuepress/.cache
/docs/.vuepress/.temp
/node_modules
/phpunit.xml
/testing
/tests/*.coverage
/tests/**/*.coverage
/tests/Http/Fixtures/sunk.txt
/vendor
composer.lock
!tests/Foundation/Fixtures/project1/composer.lock
!tests/Support/Fixtures/composer/composer.lock
composer.phar
Thumbs.db