.idea
/.phpunit.cache
/vendor
composer.lock
/phpunit.xml
.phpunit.result.cache
!tests/Foundation/fixtures/project1/composer.lock
!tests/Support/fixtures/composer/composer.lock
tests/Http/fixtures
.env
!tests/Support/envs/**/.env
/testing
docs/node_modules/
docs/.vuepress/dist/
docs/.vuepress/.cache
docs/.vuepress/.temp
