name: engine

on:
  push:
  pull_request:

jobs:
  engine:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    container:
      image: phpswoole/swoole:6.0.2-php8.4

    strategy:
      fail-fast: true

    name: Engine Integration Tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: /root/.composer/cache
          key: composer-8.4-${{ hashFiles('composer.lock') }}
          restore-keys: composer-8.4-

      - name: Install dependencies
        run: COMPOSER_MEMORY_LIMIT=-1 composer install --prefer-dist -n -o

      - name: Start test servers
        run: |
          php src/engine/examples/http_server.php &
          php src/engine/examples/tcp_packet_server.php &
          php src/engine/examples/websocket_server.php &
          php src/engine/examples/http_server_v2.php &
          sleep 2

      - name: Execute integration tests
        env:
          ENGINE_TEST_SERVER_HOST: 127.0.0.1
          ENGINE_TEST_SERVER_PORT: 9501
        run: vendor/bin/phpunit tests/Integration/Engine
