name: static analysis

on:
  push:
  pull_request:

jobs:
  types:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        include:
          - name: Source Code
            config: phpstan.neon.dist
          - name: Types
            config: phpstan.types.neon.dist

    name: ${{ matrix.name }}

    container:
      image: phpswoole/swoole:6.0.2-php8.4

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: /root/.composer/cache
          key: composer-8.4-${{ hashFiles('composer.lock') }}
          restore-keys: composer-8.4-

      - name: Install dependencies
        run: COMPOSER_MEMORY_LIMIT=-1 composer install --prefer-dist --no-interaction --no-progress

      - name: Execute type checking
        run: vendor/bin/phpstan --configuration="${{ matrix.config }}" --memory-limit=-1 --no-progress
