name: tests

on:
  push:
  pull_request:

jobs:
  linux_tests:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, '[ci skip]')"

    strategy:
      fail-fast: true
      matrix:
        include:
          - php: "8.2"
            swoole: "5.1.6"
          - php: "8.3"
            swoole: "5.1.6"
          - php: "8.4"
            swoole: "6.0.2"

    name: PHP ${{ matrix.php }} (swoole-${{ matrix.swoole }})

    services:
      redis:
        image: redis:8
        ports:
          - 6379:6379
        options: --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5
      mysql:
        image: mysql:8
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: testing
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    container:
      image: phpswoole/swoole:${{ matrix.swoole }}-php${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: /root/.composer/cache
          key: composer-${{ matrix.php }}-${{ hashFiles('composer.lock') }}
          restore-keys: composer-${{ matrix.php }}-

      - name: Install dependencies
        run: |
            COMPOSER_MEMORY_LIMIT=-1 composer install --prefer-dist -n -o

      - name: Execute tests
        env:
          REDIS_HOST: redis
          REDIS_PORT: 6379
          REDIS_DB: 8
          DB_CONNECTION: mysql
          DB_HOST: mysql
          DB_PORT: 3306
          DB_DATABASE: testing
          DB_USERNAME: root
        run: |
            PHP_CS_FIXER_IGNORE_ENV=1 vendor/bin/php-cs-fixer fix --dry-run --diff
            vendor/bin/phpunit -c phpunit.xml.dist
